/*******    Mes variables de couleurs ******/
/*****typographie*******/
body {
  margin: 0;
}

.main-container img {
  width: 100%;
  height: 237px;
  object-fit: cover;
}

.palette {
  background: #f6F6F6;
  position: relative;
  top: -50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.palette .palette-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.palette h1 {
  font-family: "Shrikhand";
  font-size: 24px;
  font-weight: 900;
}

.entrees {
  margin-left: 20px;
  margin-top: 40px;
}
.entrees h2 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
}
.entrees h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #b5e5cb;
  margin-top: 5px;
}
.entrees .container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.entrees .bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.entrees .entrees-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.entrees h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.entrees p {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  color: #6c757d;
}
.entrees span {
  font-weight: 700;
  font-size: 16px;
  color: black;
}

.plats {
  margin-left: 20px;
  margin-top: 40px;
}
.plats h2 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
}
.plats h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #b5e5cb;
  margin-top: 5px;
}
.plats .container-plats {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.plats .bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.plats .plats-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.plats h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.plats p {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  color: #6c757d;
}
.plats span {
  font-weight: 700;
  font-size: 16px;
  color: black;
}

.desserts {
  margin-left: 20px;
  margin-top: 40px;
}
.desserts h2 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
}
.desserts h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #b5e5cb;
  margin-top: 5px;
}
.desserts .desserts-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.desserts .bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.desserts .desserts-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.desserts h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.desserts p {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  color: #6c757d;
}
.desserts span {
  font-weight: 700;
  font-size: 16px;
  color: black;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn button {
  margin: 40px;
  border: none;
  width: 218px;
  height: 50px;
  color: white;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

/*# sourceMappingURL=restaurants.css.map */
