@use "utils/variables" as *;
@use "utils/mixins" as *;

body{
margin: 0;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  & img {
    width: 162px;
    height: 44px;
    margin-block-end: 10px;
  }
  & .fa-solid {
    color: $Black-color;
    width: 30px;
  }
}

.main-container {
  & img {
    width: 100%;
    height: 237px;
    object-fit: cover;
  }
}
.française {
  background: $Background-color;
  position: relative;
  top: -50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  & .française-title {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  & h1 {
    font-family: serif;
    font-size: 24px;
    font-weight: 900;
  }
}

.entrees {
  margin-left: 20px;
  margin-top: 40px;
  & h2 {
    font-weight: 300;
    font-size: 16px;
  }
  & .française-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;
  }

  & .entrees-content {
    width: 349px;
    height: 69px;
    border-radius: 15px;
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
  }
  & p {
    font-size: 15.043px;
    font-weight: 300;
    
  }
  & span{
    font-weight: 700;
    margin-left: 140px;

}

  & h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
}

.plats {
  margin-left: 20px;
  margin-top: 40px;
  & h2 {
    font-weight: 300;
    font-size: 16px;
  }
  & .container-plats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  & .plats-content {
    width: 349px;
    height: 69px;
    border-radius: 15px;
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
  }
  & p {
    font-size: 15.043px;
    font-weight: 300;
    
  }
  & span{
    font-weight: 700;
    margin-left: 140px;

}

  & h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
}


.desserts {
  margin-left: 20px;
  margin-top: 40px;
  & h2 {
    font-weight: 300;
    font-size: 16px;
  }
  & .desserts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  & .desserts-content {
    width: 349px;
    height: 69px;
    border-radius: 15px;
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
  }
  & p {
    font-size: 15.043px;
    font-weight: 300;
    
  }
  & span{
    font-weight: 700;
    margin-left: 140px;

}

  & h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
}
.btn{
  @include button;
}
footer {
  background-color: #353535;
  & .logo {
    color: #ffffff;
    width: 137.582px;
    height: 27px;
    flex-shrink: 0;
  }
  & li {
    list-style-type: none;
  }
  & img {
    color: #ffffff;
  }
  & a {
    color: #ffffff;

    text-decoration: none;
  }
}

  