@use "utils/variables" as *;
@use "utils/mixins" as *;
@use "layout" as *;


body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}



.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #FF79DA, #9356DC);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 2s ease-out 2.5s forwards;
}

.spinner {
    width: 50px;
    height: 50px;
    background-color: #FF79DA;
    border-radius: 50%;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    @include pulse;
}

@keyframes fadeOut {
    @include fadeOut;
}

.loader-hidden {
    animation: fadeOut 2s ease-out 2.5s forwards;
}

.location{
    @include flex-center;
    gap: 17px;
    background:$Grey-color ;
  
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
     padding: 12px 15px 12px 15px;
      
    & .fa-solid{
        height: 16px;
        width: 12px;
     }
    
}
.city{
margin: 0;
font-size: 16px;
font-weight: 500;
color: #353535;

}

.Reservation{ 
background: $Background-color;
padding: 30px;

& h1{
text-align: center;
margin: 0;
margin-bottom: 10px;
}
& p{
color: #353535; 
font-size: 18px;
font-weight: 300;
margin: 0;
text-align: center;
}
}
.btn{
@include flex-center;
@include button;
}
    

.Fonctionnement {
 background-color: $White-color;
& h2{
font-size: 24px;
font-weight: 700;
margin: 0;
padding: 20px;
margin-top:15px ;

}

}
.fa-solid {
    color: $icone-color;
    
}

.fa-store{
    color:  $primary-color;
}
.steps{
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .step{
        @include flex-center;
       
    }
    & .step-content{  
        @include flex-center;
        flex-direction: row;
        gap: 12px;
        width: 322.486px;
        height: 72.379px;
        background-color:$Background-color ;
        border-radius: 20px;
    }
    & .step-number{
        width: 15.273px;
        height: 14.545px;
        color: $White-color;
        background-color: #9356DC;
        border-radius: 50%;
        @include flex-center;
        font-size: 12px;
        position: absolute;
        left: 20px;
        font-weight: 500;
    }
    
}

.Restaurants{
    background-color: #f6f6f6;
    padding: 30px;
    margin-top: 30px;

    & h2{
     font-size: 24px;
     font-weight: 700;
    }
& .restaurants-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
}

.card{  
background: #FFF;
border-radius: 15px;
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
position: relative;
& a{
    text-decoration: none;
}
& img{
    width: 100%;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    height: 231px;
    object-fit: cover;
}



}
.card-content{

& h3{
text-decoration: none;
font-size: 14px;
color:$Black-color ;
}
& p{ 
    color:$Black-color ;
   text-decoration: none;
    font-size: 17px;
    font-weight: 300;
  
}
}

.fa-regular{
    position: absolute;
    right: 20px;
    bottom: 20px;

&:active {
    color: linear-gradient(#FF79DA, #9356DC); 
    
}
 
  }

.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    /* text-align: center; */
    text-decoration: none;
    width: 80px;
    height: 29px;
    background: #99E2D0;
    color: #008766;
    position: absolute;
    right: 20px;
    top: 0;
}








/*********Palette**************/
