/*******    Mes variables de couleurs ******/

$primary-color: #9356DC;
$White-color: #FFFFFF;
$Grey-color: #EAEAEAEA;
$Dark-grey: #353535;
$Black-color: #000000;
$Background-color: #f6F6F6;
$Gradient: linear-gradient(#9356DC, #FF79DA); 
$tertiary-color: #99E2D0; 
$Green-Font: #008766;
$test:red;
/*****typographie*******/
$fs-16: 16px;
$fs-24:24px;
$fs-18:18px;
$fs-17:17px;