/*******    Mes variables de couleurs ******/

$primary-color: #9356DC;
$White-color: #FFFFFF;
$Grey-color: #EAEAEAEA;
$f-grey: #353535;
$Black-color: #000000;
$Background-color: #f6F6F6;
$Gradient: linear-gradient( #FF79DA, #9356DC); 
$tertiary-color: #99E2D0; 
$Green-Font: #008766;
$test:red;
$icone-color: #7E7E7E;
/*****typographie*******/
$fs-16: 16px;
$fs-24:24px;
$fs-18:18px;
$fs-17:17px;